<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-sm"></div>
      <div class="col-5">
        <div class="svg-container1">
            <svg width="121" height="141" viewBox="0 0 121 141" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M50.3785 67.2698C52.2719 73.835 87.9756 86.8238 88.2757 87.3359C88.4091 87.5635 86.7618 95.9917 83.3339 112.621L86.3188 113.109C93.0985 94.8351 96.0462 84.8936 95.1618 83.2846C93.8957 80.9809 84.0265 74.6028 65.554 64.1505L50.3785 67.2698Z" fill="#B28B67"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M83.3365 109.028L88.1866 109.715C95.4391 97.0277 97.3079 87.4258 95.6833 83.0756C94.6003 80.1756 84.762 73.8051 66.1685 63.9642L50.0591 67.3542C53.8584 82.6815 85.5318 87.9747 86.0617 88.5504C86.5916 89.1261 84.0959 96.382 83.3365 109.028Z" fill="#2F3676"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M82.2034 112.325C81.7789 113.103 81.5376 113.696 81.4795 114.104C81.4089 114.6 81.3886 115.335 81.4184 116.311C81.9937 116.393 87.1641 117.132 96.9295 118.528C97.5223 117.253 97.392 116.5 96.5387 116.269C95.6854 116.039 94.9776 115.84 94.4153 115.672L87.6633 111.427C87.5334 111.345 87.3619 111.384 87.2804 111.514C87.279 111.516 87.2776 111.518 87.2763 111.521L86.6529 112.579C85.7955 112.839 85.1155 112.933 84.6129 112.861C84.2045 112.803 83.664 112.557 82.9914 112.125L82.9914 112.125C82.7333 111.959 82.3895 112.033 82.2237 112.291C82.2165 112.302 82.2098 112.314 82.2034 112.325Z" fill="#E4E4E4"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M54.0092 66.5059L47.0278 103.127L39.1928 134.493L42.4542 133.807L65.0644 64.1795L54.0092 66.5059Z" fill="#997659"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M38.7264 133.247C38.5933 134.124 38.5692 134.764 38.654 135.167C38.7572 135.658 38.9895 136.356 39.3509 137.263C39.9195 137.143 45.0295 136.068 54.681 134.037C54.802 132.635 54.4223 131.972 53.5419 132.047C52.6615 132.123 51.9285 132.178 51.343 132.213L43.5487 130.533C43.3987 130.501 43.251 130.596 43.2188 130.746C43.2182 130.749 43.2177 130.752 43.2172 130.754L42.9932 131.962C42.2767 132.501 41.67 132.822 41.1733 132.927C40.7697 133.011 40.1779 132.966 39.3981 132.789L39.3981 132.789C39.0988 132.721 38.8014 132.909 38.7338 133.208C38.7309 133.221 38.7284 133.234 38.7264 133.247Z" fill="#E4E4E4"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M39.1969 128.319L46.7288 128.149C50.6039 118.757 66.9677 80.149 66.24 63.9321L50.1069 67.327C43.9055 80.4658 42.7812 118.847 39.1969 128.319Z" fill="#5C63AB"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M52.1466 32.6911C50.9216 31.1545 50.1225 29.2976 50.3421 27.2584C50.9749 21.3831 59.1993 22.9874 60.6994 26.0206C62.1995 29.0539 61.732 36.5886 59.633 37.0424C58.7959 37.2234 57.0482 36.6384 55.2895 35.497L56.1281 43.4546L49.464 43.2061L52.1466 32.6911Z" fill="#B28B67"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M61.2795 27.3786C61.2277 26.9908 61.0821 26.5568 60.9653 26.1874C60.8148 25.7111 60.5764 25.2779 60.3116 24.8681C59.8131 24.0965 59.2069 23.394 58.5308 22.8045C57.2958 21.7277 55.6974 21.0736 54.097 21.2071C53.289 21.2745 52.497 21.5496 51.8137 22.0313C51.1964 22.4665 50.5941 23.1185 49.8148 23.1379C48.9667 23.159 48.2183 22.3897 47.5566 21.9071C46.8104 21.3631 46.0103 20.9571 45.1215 20.7778C43.6325 20.4774 42.2068 20.9268 41.1298 22.107C39.9836 23.3628 39.1153 25.2348 39.7737 26.9798C39.8961 27.3042 40.0587 27.5799 40.2981 27.8123C40.5177 28.0254 40.8565 28.256 40.9366 28.5865C41.0216 28.9377 40.7131 29.3752 40.5883 29.6846C40.4095 30.1279 40.259 30.5946 40.2884 31.0848C40.3369 31.8897 40.8171 32.6743 41.3346 33.2215C41.8612 33.7783 42.5222 34.111 43.2351 34.2795C43.7111 34.3921 44.1992 34.4625 44.6878 34.4451C44.9304 34.4365 45.1463 34.3778 45.3826 34.3336C45.6125 34.2905 45.7376 34.3553 45.9265 34.4864C46.8037 35.0957 47.7615 35.3545 48.8019 35.3075C49.6801 35.2678 50.6968 35.095 51.4328 34.5269C52.2502 33.8958 52.2678 32.9844 52.1169 32.0043C52.311 32.1088 52.8558 32.1893 52.5432 31.7899C52.4193 31.6316 52.1769 31.5601 52.0141 31.4637C51.8245 31.3515 51.633 31.2084 51.489 31.0314C50.9078 30.317 51.5721 28.9318 52.3431 28.7281C53.4885 28.4256 53.6839 30.0235 54.4774 30.4645C54.9337 30.718 55.4319 30.4132 55.7924 30.0965C56.2752 29.6722 56.6147 29.0989 56.9111 28.5136C57.1553 28.0317 57.384 27.5423 57.6324 27.0629C57.7484 26.8391 58.1447 26.2088 57.967 25.9442C58.7842 25.814 59.6756 26.182 60.3583 26.6464C60.6405 26.8384 60.8534 27.0464 60.9957 27.3721C61.0262 27.4419 61.0905 27.6484 61.1805 27.6601C61.3478 27.6819 61.2925 27.4761 61.2795 27.3786Z" fill="#191847"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M75.8076 59.4604L85.7317 64.1501C88.2134 64.3305 90.3366 64.7404 92.1014 65.3798C92.5406 65.6473 93.1248 66.2476 91.5509 66.427C89.977 66.6064 88.3295 66.8656 88.2168 67.4336C88.1041 68.0015 89.1638 68.4511 88.8679 69.2451C88.6706 69.7744 87.0796 68.8481 84.0947 66.4662L74.7946 64.5647L75.8076 59.4604ZM42.4436 66.102L48.148 65.0286C46.8041 77.0191 46.0584 83.3874 45.9111 84.1336C45.5794 85.8126 47.3712 87.928 48.1875 89.093C46.4866 90.2796 46.0945 87.1716 43.9569 88.7099C42.0058 90.114 40.7222 92.2253 37.9552 91.1804C37.615 91.052 37.1462 90.4122 37.846 89.7073C39.5894 87.9511 42.0203 84.9968 42.2593 84.1322C42.5851 82.9533 42.6466 76.9432 42.4436 66.102Z" fill="#B28B67"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M54.0624 39.1692L56.3436 38.3129C66.5424 44.1587 72.918 57.9303 85.118 63.5296L83.149 67.2129C64.0988 68.4958 56.0941 51.7417 54.0624 39.1692Z" fill="#E87613"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M49.4565 70.6628C58.9137 68.8448 65.8703 67.5074 70.3262 66.6508C71.2798 66.4675 70.8364 65.1308 70.5655 64.4653C67.4389 56.7853 59.5728 49.3708 57.3868 38.0031L51.1863 38.2203C47.7406 47.152 47.9067 57.3012 49.4565 70.6628Z" fill="#DDE3E9"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M45.1771 47.504C44.2547 47.4218 43.4501 46.9712 42.7633 46.1521C39.8028 42.6216 40.1788 40.2921 42.3926 39.1246C44.6064 37.957 46.9868 39.0277 50.7331 38.3075C50.9369 38.2684 51.126 38.2452 51.3004 38.2381L53.2055 37.9829C62.1214 55.1914 65.9538 67.0794 64.7025 73.6471L48.2764 76.8048C47.7377 79.2518 47.172 81.3322 46.5794 83.0461L42.1035 83.9065C39.0742 70.4245 40.0987 58.2903 45.1771 47.504Z" fill="#FF9B21"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M50.0515 66.7456C51.3958 70.9506 52.8362 73.9131 54.3726 75.6331L48.2768 76.805C48.9051 73.9506 49.4967 70.5975 50.0515 66.7456V66.7456Z" fill="black" fill-opacity="0.1"/>
          </svg>
        </div>
      <div class="d-flex flex-column justify-content-start card-dashcard" id="card-analytics">
        <div class="orangebg1">
          <p class="display-dash-cd">The Team KPIs Here</p>
          <div class="container-slider">
            <div class="d-flex flex-column justify-content-start">
              <div class="d-flex justify-content-between align-items-center mt-3">
                <p class="text-funnel">Year-To-Date Performance</p>
              </div>
              <div class="d-flex justify-content-between align-items-center mt-3 card-metric">
                <div class="d-flex justify-content-center align-items-center">
                  <div>
                    <svg width="38" height="38" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M32.8125 37.4062H9.1875C8.82506 37.4062 8.53125 37.7001 8.53125 38.0625V40.0312C8.53125 40.3937 8.82506 40.6875 9.1875 40.6875H32.8125C33.1749 40.6875 33.4688 40.3937 33.4688 40.0312V38.0625C33.4688 37.7001 33.1749 37.4062 32.8125 37.4062Z" fill="#B2A18D"/>
                    <path d="M32.8125 1.3125H9.1875C8.82506 1.3125 8.53125 1.60631 8.53125 1.96875V3.9375C8.53125 4.29994 8.82506 4.59375 9.1875 4.59375H32.8125C33.1749 4.59375 33.4688 4.29994 33.4688 3.9375V1.96875C33.4688 1.60631 33.1749 1.3125 32.8125 1.3125Z" fill="#B2A18D"/>
                    <path d="M31.5 37.4062V31.8367C31.5001 30.3619 31.1451 28.9088 30.4652 27.6001C29.7852 26.2914 28.8002 25.1657 27.5933 24.318L23.9663 21.7711C23.88 21.7106 23.8096 21.6301 23.761 21.5366C23.7124 21.4432 23.687 21.3393 23.687 21.234C23.687 21.1286 23.7124 21.0248 23.761 20.9313C23.8096 20.8378 23.88 20.7574 23.9663 20.6968L27.5927 18.1499C28.7996 17.3023 29.7848 16.1766 30.4649 14.8679C31.145 13.5592 31.5 12.1061 31.5 10.6313V4.59375H10.5V10.6313C10.5 12.1061 10.855 13.5592 11.5351 14.8679C12.2152 16.1766 13.2004 17.3023 14.4073 18.1499L18.0337 20.6968C18.12 20.7574 18.1904 20.8378 18.239 20.9313C18.2876 21.0248 18.313 21.1286 18.313 21.234C18.313 21.3393 18.2876 21.4432 18.239 21.5366C18.1904 21.6301 18.12 21.7106 18.0337 21.7711L14.4073 24.318C13.2004 25.1656 12.2152 26.2913 11.5351 27.6C10.855 28.9087 10.5 30.3618 10.5 31.8367V37.4062H31.5Z" fill="#E1F4F3"/>
                    <path d="M31.5 37.4063V36.0938C28.875 36.0938 24.9749 32.3886 22.974 30.8333C22.3988 30.4164 21.7061 30.1928 20.9957 30.1947C20.2853 30.1966 19.5938 30.4239 19.0207 30.8438C17.0356 32.4135 13.125 36.0938 10.5 36.0938V37.4063H31.5ZM21 24.2813C21.0873 24.2813 21.5742 22.0619 23.6965 21.1969C23.7006 21.0987 23.727 21.0026 23.7739 20.9162C23.8207 20.8297 23.8868 20.7552 23.9669 20.6982L27.5933 18.1513C28.0964 17.7925 28.5619 17.3838 28.9826 16.9313C22.7483 19.4447 18.4229 14.9625 13.1795 17.0625L13.1526 17.0685C13.537 17.4668 13.9567 17.8294 14.4067 18.1519L18.0331 20.6988C18.1573 20.7875 18.2467 20.9166 18.286 21.064C18.3253 21.2115 18.312 21.368 18.2483 21.5067H18.2536C20.1383 21.9844 20.8904 24.2813 21 24.2813Z" fill="#F59442"/>
                    <path opacity="0.15" d="M16.7114 24.318L19.4316 21.7711C19.5663 21.6246 19.641 21.4329 19.641 21.234C19.641 21.035 19.5663 20.8433 19.4316 20.6968L16.7114 18.1499C15.7453 17.1561 14.9882 15.9787 14.4849 14.6873C13.9816 13.3959 13.7424 12.0167 13.7812 10.6313V4.59375H10.5V10.6313C10.4999 12.106 10.8549 13.5592 11.5348 14.8678C12.2148 16.1765 13.1998 17.3022 14.4067 18.1499L18.0331 20.6968C18.1193 20.7574 18.1897 20.8378 18.2383 20.9313C18.2869 21.0248 18.3123 21.1286 18.3123 21.234C18.3123 21.3393 18.2869 21.4432 18.2383 21.5366C18.1897 21.6301 18.1193 21.7106 18.0331 21.7711L14.4067 24.318C13.1998 25.1657 12.2148 26.2914 11.5348 27.6001C10.8549 28.9088 10.4999 30.3619 10.5 31.8367V37.4062H13.7812V31.8367C13.7424 30.4512 13.9816 29.072 14.4849 27.7806C14.9882 26.4892 15.7453 25.3118 16.7114 24.318V24.318Z" fill="#000064"/>
                    <path opacity="0.6" d="M29.5314 31.8367C29.5966 29.1334 28.6131 26.5098 26.7869 24.5155C24.9133 23.0258 23.6317 25.6193 24.2814 28.2188C24.9376 30.8438 24.8963 32.1562 24.8963 36.0938H29.5314V31.8367ZM25.5401 19.1435L26.6012 18.1499C27.5674 17.1561 28.3244 15.9787 28.8277 14.6873C29.331 13.3959 29.5703 12.0167 29.5314 10.6313V5.90625H24.2814V13.125C24.2814 15.0938 22.8613 21.2244 25.5401 19.1435Z" fill="white"/>
                    <path d="M32.8125 37.4062H9.1875C8.82506 37.4062 8.53125 37.7001 8.53125 38.0625V40.0312C8.53125 40.3937 8.82506 40.6875 9.1875 40.6875H32.8125C33.1749 40.6875 33.4688 40.3937 33.4688 40.0312V38.0625C33.4688 37.7001 33.1749 37.4062 32.8125 37.4062Z" stroke="#2E4369" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M32.8125 1.3125H9.1875C8.82506 1.3125 8.53125 1.60631 8.53125 1.96875V3.9375C8.53125 4.29994 8.82506 4.59375 9.1875 4.59375H32.8125C33.1749 4.59375 33.4688 4.29994 33.4688 3.9375V1.96875C33.4688 1.60631 33.1749 1.3125 32.8125 1.3125Z" stroke="#2E4369" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>


                  </div>
                  <button class="text-funnel bouton-text" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Minutes Saved
                  </button>
                </div>
                <p class="figure-dash">350</p>
              </div>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                   <div class="text-center"><i class="fas fa-check-circle"></i>  You have saved <strong>350 min.</strong>so far</div>
                   <div id="chart_div"></div>
                </div>
              </div>

              <div class="d-flex justify-content-between align-items-center mt-3">
                <div class="d-flex justify-content-center align-items-center">
                  <div>
                    <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.8161 30.1219C14.093 28.3988 13.125 26.0618 13.125 23.625C13.125 21.1882 14.093 18.8512 15.8161 17.1281C17.5392 15.405 19.8762 14.437 22.313 14.437C24.7498 14.437 27.0868 15.405 28.8098 17.1281L15.8161 30.1219Z" fill="#F59442"/>
                    <path opacity="0.5" d="M28.809 17.1281C27.8732 16.1895 26.7454 15.4644 25.5029 15.0028C24.2605 14.5411 22.9329 14.3537 21.6112 14.4534C20.2896 14.5532 19.0051 14.9377 17.8461 15.5806C16.687 16.2236 15.6808 17.1097 14.8965 18.1781C16.6681 16.8773 18.8473 16.2547 21.0387 16.4233C23.2301 16.5919 25.2884 17.5404 26.8402 19.0969L28.809 17.1281Z" fill="white"/>
                    <path d="M28.7438 17.0625C30.4668 18.7856 31.4348 21.1226 31.4348 23.5594C31.4348 25.9962 30.4668 28.3332 28.7438 30.0563C27.8906 30.9094 26.8777 31.5862 25.763 32.048C24.6482 32.5097 23.4535 32.7473 22.2469 32.7473C19.8101 32.7473 17.4731 31.7793 15.75 30.0563L28.7438 17.0625Z" fill="#EBF5FF"/>
                    <path opacity="0.15" d="M30.4498 19.425C30.0254 18.5789 29.4719 17.804 28.8092 17.1282L15.8154 30.1219C16.4913 30.7847 17.2662 31.3382 18.1123 31.7625L30.4498 19.425Z" fill="#000064"/>
                    <path d="M36.0938 9.84375L8.53125 37.4062M31.1719 21.2625C31.5793 22.7996 31.5807 24.4161 31.1761 25.954C30.7715 27.4918 29.9746 28.8983 28.8635 30.0359C27.7524 31.1734 26.365 32.0031 24.8371 32.4438C23.3093 32.8845 21.6931 32.9211 20.1469 32.55L31.1719 21.2625ZM15.8156 30.1219C14.0925 28.3988 13.1245 26.0618 13.1245 23.625C13.1245 21.1882 14.0925 18.8512 15.8156 17.1281C17.5387 15.405 19.8757 14.437 22.3125 14.437C24.7493 14.437 27.0863 15.405 28.8094 17.1281L15.8156 30.1219ZM22.3125 3.9375V9.1875V3.9375ZM7.875 23.625H2.625H7.875ZM7.875 9.1875L12.4688 13.7812L7.875 9.1875Z" stroke="#2E4369" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                 </div>
                  <button class="text-funnel bouton-text" type="button" data-toggle="collapse" data-target="#collapseMood" aria-expanded="false" aria-controls="collapseExample">
                    Mood
                  </button>
                </div>
                <p class="figure-dash">4.5</p>
              </div>
              <div class="collapse" id="collapseMood">
                <div class="card card-body">
                   <div class="text-center">
                    <svg width="24" height="24" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.5031 27.4969L7.0875 34.9125M21 1.3125V11.8125V1.3125ZM21 30.1875V40.6875V30.1875ZM40.6875 21H30.1875H40.6875ZM11.8125 21H1.3125H11.8125ZM7.0875 7.0875L14.5031 14.5031L7.0875 7.0875ZM27.4969 27.4969L34.9125 34.9125L27.4969 27.4969ZM34.9125 7.0875L27.4969 14.5031L34.9125 7.0875Z" stroke="#F59442" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M21 30.1875C26.0741 30.1875 30.1875 26.0741 30.1875 21C30.1875 15.9259 26.0741 11.8125 21 11.8125C15.9259 11.8125 11.8125 15.9259 11.8125 21C11.8125 26.0741 15.9259 30.1875 21 30.1875Z" stroke="#F59442" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Your team is in a <strong>Great</strong> Mood</div>
                   <div id="chart2_div"></div>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-center mt-3 card-metric">
                <div class="d-flex justify-content-center align-items-center">
                  <div>
                    <svg width="38" height="38" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M28.2188 19.0312H1.3125L13.125 6.5625L15.8813 9.1875L10.4344 15.0938H28.2188V19.0312Z" fill="#F4364C"/>
                    <path d="M28.875 35.4375L26.1187 32.8125L31.5656 26.9062H13.7812V22.9688H40.6875L28.875 35.4375Z" fill="#F59442"/>
                    <path d="M28.2188 19.0312H1.3125L13.125 6.5625L15.8813 9.1875L10.4344 15.0938H28.2188V19.0312ZM28.875 35.4375L26.1187 32.8125L31.5656 26.9062H13.7812V22.9688H40.6875L28.875 35.4375Z" stroke="#2E4369" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </div>
                  <button class="text-funnel bouton-text" type="button" data-toggle="collapse" data-target="#collapseSteps" aria-expanded="false" aria-controls="collapseExample">
                    Average Daily Steps
                  </button>
                </div>
                <p class="figure-dash">9 853</p>
              </div>
              <div class="collapse" id="collapseSteps">
                <div class="card card-body">
                   <div class="text-center d-flex justify-content-center">
                    <svg width="24" height="24" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg" class="">
                    <path d="M34.7812 21.6562H36.0938C36.7899 21.6562 37.4576 21.3797 37.9499 20.8874C38.4422 20.3951 38.7188 19.7274 38.7188 19.0312C38.7188 18.3351 38.4422 17.6674 37.9499 17.1751C37.4576 16.6828 36.7899 16.4062 36.0938 16.4062H21.6562C22.5339 12.5302 22.9741 8.56793 22.9688 4.59375C22.9687 3.89756 22.6922 3.22988 22.1999 2.73759C21.7076 2.24531 21.0399 1.96875 20.3438 1.96875C19.6476 1.96875 18.9799 2.24531 18.4876 2.73759C17.9953 3.22988 17.7188 3.89756 17.7188 4.59375C17.7188 4.59375 15.0938 19.0312 5.90625 19.0312H1.96875V34.7812H8.53125C11.1562 34.7812 16.4062 37.4062 19.0312 37.4062H32.1562C32.8524 37.4062 33.5201 37.1297 34.0124 36.6374C34.5047 36.1451 34.7812 35.4774 34.7812 34.7812C34.7812 34.0851 34.5047 33.4174 34.0124 32.9251C33.5201 32.4328 32.8524 32.1562 32.1562 32.1562H33.4688C34.1649 32.1562 34.8326 31.8797 35.3249 31.3874C35.8172 30.8951 36.0938 30.2274 36.0938 29.5312C36.0938 28.8351 35.8172 28.1674 35.3249 27.6751C34.8326 27.1828 34.1649 26.9062 33.4688 26.9062H34.7812C35.4774 26.9062 36.1451 26.6297 36.6374 26.1374C37.1297 25.6451 37.4062 24.9774 37.4062 24.2812C37.4062 23.5851 37.1297 22.9174 36.6374 22.4251C36.1451 21.9328 35.4774 21.6562 34.7812 21.6562Z" fill="#F59442"/>
                    <path opacity="0.1" d="M20.8491 2.01922C20.4687 1.94303 20.0761 1.95238 19.6998 2.04658C19.3235 2.14079 18.9728 2.3175 18.6732 2.56391C18.3736 2.81033 18.1325 3.12028 17.9674 3.47133C17.8024 3.82239 17.7174 4.20576 17.7188 4.59369C17.7188 4.59369 16.7042 10.1666 13.732 14.3876C18.3638 11.3819 20.328 4.27737 20.8491 2.01922V2.01922ZM22.3125 34.1249C19.6875 34.1249 14.4375 31.4999 11.8125 31.4999H5.25V19.0312H1.96875V34.7812H8.53125C11.1562 34.7812 16.4062 37.4062 19.0312 37.4062H32.1562C32.8524 37.4062 33.5201 37.1296 34.0124 36.6373C34.5047 36.1451 34.7812 35.4774 34.7812 34.7812C34.7812 34.5535 34.7432 34.1249 34.6881 34.1249H22.3125Z" fill="#000064"/>
                    <path d="M34.7812 21.6562H36.0938C36.7899 21.6562 37.4576 21.3797 37.9499 20.8874C38.4422 20.3951 38.7188 19.7274 38.7188 19.0312C38.7188 18.3351 38.4422 17.6674 37.9499 17.1751C37.4576 16.6828 36.7899 16.4062 36.0938 16.4062H21.6562C22.5339 12.5302 22.9741 8.56793 22.9688 4.59375C22.9687 3.89756 22.6922 3.22988 22.1999 2.73759C21.7076 2.24531 21.0399 1.96875 20.3438 1.96875C19.6476 1.96875 18.9799 2.24531 18.4876 2.73759C17.9953 3.22988 17.7188 3.89756 17.7188 4.59375C17.7188 4.59375 15.0938 19.0312 5.90625 19.0312H1.96875V34.7812H8.53125C11.1562 34.7812 16.4062 37.4062 19.0312 37.4062H32.1562C32.8524 37.4062 33.5201 37.1297 34.0124 36.6374C34.5047 36.1451 34.7812 35.4774 34.7812 34.7812C34.7812 34.0851 34.5047 33.4174 34.0124 32.9251C33.5201 32.4328 32.8524 32.1562 32.1562 32.1562H33.4688C34.1649 32.1562 34.8326 31.8797 35.3249 31.3874C35.8172 30.8951 36.0938 30.2274 36.0938 29.5312C36.0938 28.8351 35.8172 28.1674 35.3249 27.6751C34.8326 27.1828 34.1649 26.9062 33.4688 26.9062H34.7812C35.4774 26.9062 36.1451 26.6297 36.6374 26.1374C37.1297 25.6451 37.4062 24.9774 37.4062 24.2812C37.4062 23.5851 37.1297 22.9174 36.6374 22.4251C36.1451 21.9328 35.4774 21.6562 34.7812 21.6562Z" stroke="#2E4369" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                    <p>Congrats, <strong>over 10 000 </strong>steps a day</p>
                  </div>
                   <div id="chart3_div"></div>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-center mt-3">
                <div class="d-flex justify-content-center align-items-center">
                  <div>
                    <svg width="38" height="38" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                    <path d="M32.1562 8.53125C27.6012 12.5409 28.2188 19.0312 28.2188 19.0312C28.2188 19.0312 21.5381 8.85412 24.2812 0.65625C21.6024 6.18516 9.84375 7.60594 15.0938 22.9688C8.44922 20.4593 8.53125 12.4688 8.53125 12.4688C8.53125 12.4688 4.59375 16.4062 4.59375 24.2812C4.59375 28.4584 6.25312 32.4645 9.20682 35.4182C12.1605 38.3719 16.1666 40.0312 20.3438 40.0312C24.5209 40.0312 28.527 38.3719 31.4807 35.4182C34.4344 32.4645 36.0938 28.4584 36.0938 24.2812C36.0938 16.3013 30.3903 16.3137 32.1562 8.53125Z" fill="#F2605C"/>
                    <path d="M21 40.0312C15.75 40.0312 10.5 35.4375 10.5 28.2188C11.1562 31.5 16.4062 31.5 17.7188 32.1562C19.0312 32.8125 15.0938 24.9375 21 19.0312C17.7188 22.9688 24.9375 27.5625 25.5938 30.1875C26.25 26.25 27.5625 24.2812 27.5625 24.2812C27.5625 24.2812 33.4688 40.0312 21 40.0312Z" fill="#F2A40E"/>
                    <path opacity="0.25" d="M33.8811 32.3308C34.9206 27.4772 34.1909 23.1033 32.8127 20.3438C31.1255 16.9693 30.4095 12.1551 31.8887 8.77997C27.6284 12.8034 28.219 19.0312 28.219 19.0312C28.219 19.0312 21.5384 8.85412 24.2815 0.65625C24.1066 1.01264 23.8995 1.35225 23.6626 1.67081C21.7989 7.53572 22.5483 15.6233 24.9377 21C27.5627 26.9062 27.5627 35.4375 23.6252 38.0625C23.6252 34.125 20.344 29.5312 20.344 29.5312C20.344 29.5312 15.2252 39.774 20.8034 40.0194C23.4545 39.9436 26.0434 39.1989 28.3297 37.8548C30.6161 36.5106 32.5256 34.6105 33.8811 32.3308V32.3308Z" fill="white"/>
                    <path d="M32.1562 8.53125C27.6012 12.5409 28.2188 19.0312 28.2188 19.0312C28.2188 19.0312 21.5381 8.85412 24.2812 0.65625C21.6024 6.18516 9.84375 7.60594 15.0938 22.9688C8.44922 20.4593 8.53125 12.4688 8.53125 12.4688C8.53125 12.4688 4.59375 16.4062 4.59375 24.2812C4.59375 28.4584 6.25312 32.4645 9.20682 35.4182C12.1605 38.3719 16.1666 40.0312 20.3438 40.0312C24.5209 40.0312 28.527 38.3719 31.4807 35.4182C34.4344 32.4645 36.0938 28.4584 36.0938 24.2812C36.0938 16.3013 30.3903 16.3137 32.1562 8.53125Z" stroke="#2E4369" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <clipPath id="clip0">
                    <rect width="42" height="42" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>

                  </div>
                <button class="text-funnel bouton-text" type="button" data-toggle="collapse" data-target="#collapseCalories" aria-expanded="false" aria-controls="collapseExample">
                  Average Daily Calories Burned
                </button>
                </div>
                <p class="figure-dash">453</p>
              </div>
            <div class="collapse" id="collapseCalories">
              <div class="card card-body">
                 <div class="text-center d-flex justify-content-center">
                  <svg width="24" height="24" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg" class="">
                  <g clip-path="url(#clip0)">
                  <path d="M32.1562 8.53125C27.6012 12.5409 28.2188 19.0312 28.2188 19.0312C28.2188 19.0312 21.5381 8.85412 24.2812 0.65625C21.6024 6.18516 9.84375 7.60594 15.0938 22.9688C8.44922 20.4593 8.53125 12.4688 8.53125 12.4688C8.53125 12.4688 4.59375 16.4062 4.59375 24.2812C4.59375 28.4584 6.25312 32.4645 9.20682 35.4182C12.1605 38.3719 16.1666 40.0312 20.3438 40.0312C24.5209 40.0312 28.527 38.3719 31.4807 35.4182C34.4344 32.4645 36.0938 28.4584 36.0938 24.2812C36.0938 16.3013 30.3903 16.3137 32.1562 8.53125Z" fill="#F2605C"/>
                  <path d="M21 40.0312C15.75 40.0312 10.5 35.4375 10.5 28.2188C11.1562 31.5 16.4062 31.5 17.7188 32.1562C19.0312 32.8125 15.0938 24.9375 21 19.0312C17.7188 22.9688 24.9375 27.5625 25.5938 30.1875C26.25 26.25 27.5625 24.2812 27.5625 24.2812C27.5625 24.2812 33.4688 40.0312 21 40.0312Z" fill="#F2A40E"/>
                  <path opacity="0.25" d="M33.8811 32.3308C34.9206 27.4772 34.1909 23.1033 32.8127 20.3438C31.1255 16.9693 30.4095 12.1551 31.8887 8.77997C27.6284 12.8034 28.219 19.0312 28.219 19.0312C28.219 19.0312 21.5384 8.85412 24.2815 0.65625C24.1066 1.01264 23.8995 1.35225 23.6626 1.67081C21.7989 7.53572 22.5483 15.6233 24.9377 21C27.5627 26.9062 27.5627 35.4375 23.6252 38.0625C23.6252 34.125 20.344 29.5312 20.344 29.5312C20.344 29.5312 15.2252 39.774 20.8034 40.0194C23.4545 39.9436 26.0434 39.1989 28.3297 37.8548C30.6161 36.5106 32.5256 34.6105 33.8811 32.3308V32.3308Z" fill="white"/>
                  <path d="M32.1562 8.53125C27.6012 12.5409 28.2188 19.0312 28.2188 19.0312C28.2188 19.0312 21.5381 8.85412 24.2812 0.65625C21.6024 6.18516 9.84375 7.60594 15.0938 22.9688C8.44922 20.4593 8.53125 12.4688 8.53125 12.4688C8.53125 12.4688 4.59375 16.4062 4.59375 24.2812C4.59375 28.4584 6.25312 32.4645 9.20682 35.4182C12.1605 38.3719 16.1666 40.0312 20.3438 40.0312C24.5209 40.0312 28.527 38.3719 31.4807 35.4182C34.4344 32.4645 36.0938 28.4584 36.0938 24.2812C36.0938 16.3013 30.3903 16.3137 32.1562 8.53125Z" stroke="#2E4369" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </g>
                  <defs>
                  <clipPath id="clip0">
                  <rect width="42" height="42" fill="white"/>
                  </clipPath>
                  </defs>
                  </svg>
                  <p>Your Team is on <strong>Fire! </strong></p>
                </div>
                 <div id="chart4_div"></div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-5">
        <div class="svg-container2">
          <svg width="98" height="124" viewBox="0 0 98 124" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M47.02 21.1033C45.7878 19.6569 44.9538 17.8843 45.0932 15.898C45.4947 10.1751 53.4612 11.4341 55.0108 14.3225C56.5605 17.211 56.3764 24.5377 54.3736 25.054C53.5749 25.2599 51.8734 24.7555 50.1417 23.7118L51.2286 31.4016H44.8105L47.02 21.1033Z" fill="#B28B67"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M52.1807 14.7414C51.3098 15.2286 50.6899 16.1415 49.9438 17.339C49.7621 17.2676 49.5642 17.2283 49.3571 17.2283C48.471 17.2283 47.7526 17.9467 47.7526 18.8329C47.7526 19.2827 47.9377 19.6893 48.236 19.9807C47.8647 20.5047 47.4486 21.0521 46.9718 21.617C45.1926 20.5495 43.8692 17.4384 45.5681 14.4349C47.0297 8.41882 55.3121 12.1529 56.9056 11.1383C57.2539 13.3214 56.1305 15.0818 52.1807 14.7414Z" fill="#191847"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M44.5518 54.6177L57.6772 87.8385L66.4805 115.924H69.9567L56.4984 54.6177L44.5518 54.6177Z" fill="#997659"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M41.9098 54.6177C41.7701 66.2917 39.7317 82.0089 39.4061 82.7366C39.189 83.2217 31.6943 89.391 16.9219 101.245L19.3161 103.807C36.7462 93.6438 45.8645 87.8846 46.6711 86.5291C47.8809 84.4959 51.8198 65.786 54.9822 54.6177H41.9098Z" fill="#B28B67"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M16.6016 100.389C15.7975 100.673 15.2436 100.943 14.9399 101.198C14.5705 101.508 14.083 102.022 13.4776 102.739C13.8372 103.168 17.0689 107.019 23.1728 114.294C24.4173 113.761 24.8078 113.138 24.3441 112.425C23.8804 111.711 23.501 111.114 23.2057 110.633L21.0936 103.253C21.053 103.111 20.9049 103.029 20.7629 103.07C20.7605 103.071 20.7581 103.071 20.7557 103.072L19.6287 103.43C18.8467 103.065 18.2987 102.696 17.9845 102.321C17.7293 102.017 17.4996 101.494 17.2956 100.752L17.2956 100.752C17.2173 100.467 16.9229 100.299 16.6381 100.378C16.6258 100.381 16.6136 100.385 16.6016 100.389Z" fill="#E4E4E4"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M65.0581 114.627C64.759 115.426 64.6094 116.024 64.6094 116.42C64.6094 116.902 64.6897 117.606 64.8504 118.531C65.4098 118.531 70.4375 118.531 79.9334 118.531C80.3253 117.235 80.0991 116.536 79.2546 116.433C78.4101 116.329 77.7086 116.236 77.1501 116.153L70.1396 113.027C70.0047 112.967 69.8466 113.028 69.7865 113.163C69.7855 113.165 69.7845 113.167 69.7835 113.17L69.3329 114.263C68.5511 114.628 67.9159 114.81 67.4271 114.81C67.03 114.81 66.4816 114.65 65.7819 114.329L65.7819 114.329C65.5134 114.206 65.1959 114.324 65.0728 114.592C65.0675 114.604 65.0626 114.615 65.0581 114.627Z" fill="#E4E4E4"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M53.3771 113.031L69.9049 111.237L57.6558 54.6177H42.8525L53.3771 113.031Z" fill="#69A1AC"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M20.3398 97.1109L31.1811 109.943C42.5999 97.4718 49.2571 89.3342 51.1527 85.5304C53.0483 81.7266 54.7523 71.4224 56.2648 54.6177H39.599C38.7728 69.4017 38.2159 77.1377 37.9282 77.8257C37.6406 78.5137 31.7778 84.9421 20.3398 97.1109Z" fill="#89C5CC"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M68.6803 51.3851L76.5395 59.0026C78.8262 59.9718 80.6998 61.0419 82.1604 62.213C82.4889 62.6066 82.8465 63.3609 81.3011 63.0234C79.7557 62.6859 78.1149 62.3999 77.8244 62.8992C77.534 63.3986 78.3898 64.1637 77.853 64.8172C77.4952 65.2529 76.2916 63.8671 74.2425 60.6599L66.07 55.8726L68.6803 51.3851ZM30.2489 44.4909L36.324 44.5136C31.697 59.4079 29.2408 67.2064 28.9555 67.9089C28.3136 69.4896 29.6721 71.897 30.253 73.1908C28.3609 74.032 28.5625 70.9166 26.1756 72.0199C23.997 73.027 22.3397 74.8517 19.8226 73.3085C19.5132 73.1188 19.1741 72.4045 19.9934 71.8463C22.0347 70.4556 24.9764 68.0217 25.3738 67.2205C25.9158 66.128 27.5409 58.5515 30.2489 44.4909Z" fill="#B28B67"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M48.7607 27.3683L51.1598 26.9595C54.939 40.2325 74.3563 49.2799 75.5483 54.2416C75.9855 56.0613 74.6674 56.9811 75.3483 57.5353L72.23 59.8033C71.702 59.1912 70.5751 60.3109 68.2219 59.5277C65.8686 58.7444 48.7607 43.0846 48.7607 27.3683Z" fill="#DB2721"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M52.796 29.1227C52.5154 46.7036 62.7438 51.1864 60.466 58.2371C58.5854 64.0584 40.585 70.3162 37.4701 64.61C36.2093 62.3002 35.6372 59.5067 35.5723 56.4695C34.7762 58.8028 34.1466 60.8116 33.6834 62.4957C32.8844 65.401 29.7869 65.8629 29.7869 66.9821L25.7059 65.8629C25.9827 64.3423 24.0588 63.6019 24.5747 60.2049C26.8859 44.9842 33.096 33.9512 43.2047 27.106L43.3124 25.5874C43.3539 24.9984 43.8646 24.5545 44.4536 24.5954L44.4536 24.5944L52.0061 25.1182C52.5955 25.1591 53.04 25.6701 52.9991 26.2594C52.9991 26.2597 52.999 26.2601 52.999 26.2604L52.796 29.1227Z" fill="#FF4133"/>
          </svg>

        </div>
      <div class="d-flex flex-column justify-content-start card-dashcard">
        <div class="orangebg2">
          <p class="display-dash-cd">Your Teammates KPIs Here</p>
        </div>
        <div class="container-slider overflowavatar">
          <div class="d-flex justify-content-between align-items-center mt-3">
            <p class="text-funnel">This month's performance</p>
          </div>
             <% @users = User.all %>
              <% @users.first(5).each do |user|%>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex justify-content-center align-items-center mt-4">
                    <img src="<%= user.photo %> " alt="" class="icon-analytics">
                    <button class="text-funnel bouton-text" type="button" data-toggle="collapse" data-target="#teammember_<%= user.first_name %>" aria-expanded="false" aria-controls="collapseExample">
                      <%= user.first_name%>
                    </button>
                  </div>
                </div>
                <div class="collapse" id="teammember_<%= user.first_name %>">
                  <div class="card card-body-member d-flex flex-column align-items-center">
                     <div class="text-center mt-2">
                       <%=user.first_name %> <p>performance this month</p>
                     </div>
                    <div class="container-member-anal mt-3">

                    <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex align-items-middle justify-content-between">
                        <div>
                          <svg width="24" height="24" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-analytics">
                          <path d="M32.8125 37.4062H9.1875C8.82506 37.4062 8.53125 37.7001 8.53125 38.0625V40.0312C8.53125 40.3937 8.82506 40.6875 9.1875 40.6875H32.8125C33.1749 40.6875 33.4688 40.3937 33.4688 40.0312V38.0625C33.4688 37.7001 33.1749 37.4062 32.8125 37.4062Z" fill="#B2A18D"/>
                          <path d="M32.8125 1.3125H9.1875C8.82506 1.3125 8.53125 1.60631 8.53125 1.96875V3.9375C8.53125 4.29994 8.82506 4.59375 9.1875 4.59375H32.8125C33.1749 4.59375 33.4688 4.29994 33.4688 3.9375V1.96875C33.4688 1.60631 33.1749 1.3125 32.8125 1.3125Z" fill="#B2A18D"/>
                          <path d="M31.5 37.4062V31.8367C31.5001 30.3619 31.1451 28.9088 30.4652 27.6001C29.7852 26.2914 28.8002 25.1657 27.5933 24.318L23.9663 21.7711C23.88 21.7106 23.8096 21.6301 23.761 21.5366C23.7124 21.4432 23.687 21.3393 23.687 21.234C23.687 21.1286 23.7124 21.0248 23.761 20.9313C23.8096 20.8378 23.88 20.7574 23.9663 20.6968L27.5927 18.1499C28.7996 17.3023 29.7848 16.1766 30.4649 14.8679C31.145 13.5592 31.5 12.1061 31.5 10.6313V4.59375H10.5V10.6313C10.5 12.1061 10.855 13.5592 11.5351 14.8679C12.2152 16.1766 13.2004 17.3023 14.4073 18.1499L18.0337 20.6968C18.12 20.7574 18.1904 20.8378 18.239 20.9313C18.2876 21.0248 18.313 21.1286 18.313 21.234C18.313 21.3393 18.2876 21.4432 18.239 21.5366C18.1904 21.6301 18.12 21.7106 18.0337 21.7711L14.4073 24.318C13.2004 25.1656 12.2152 26.2913 11.5351 27.6C10.855 28.9087 10.5 30.3618 10.5 31.8367V37.4062H31.5Z" fill="#E1F4F3"/>
                          <path d="M31.5 37.4063V36.0938C28.875 36.0938 24.9749 32.3886 22.974 30.8333C22.3988 30.4164 21.7061 30.1928 20.9957 30.1947C20.2853 30.1966 19.5938 30.4239 19.0207 30.8438C17.0356 32.4135 13.125 36.0938 10.5 36.0938V37.4063H31.5ZM21 24.2813C21.0873 24.2813 21.5742 22.0619 23.6965 21.1969C23.7006 21.0987 23.727 21.0026 23.7739 20.9162C23.8207 20.8297 23.8868 20.7552 23.9669 20.6982L27.5933 18.1513C28.0964 17.7925 28.5619 17.3838 28.9826 16.9313C22.7483 19.4447 18.4229 14.9625 13.1795 17.0625L13.1526 17.0685C13.537 17.4668 13.9567 17.8294 14.4067 18.1519L18.0331 20.6988C18.1573 20.7875 18.2467 20.9166 18.286 21.064C18.3253 21.2115 18.312 21.368 18.2483 21.5067H18.2536C20.1383 21.9844 20.8904 24.2813 21 24.2813Z" fill="#F59442"/>
                          <path opacity="0.15" d="M16.7114 24.318L19.4316 21.7711C19.5663 21.6246 19.641 21.4329 19.641 21.234C19.641 21.035 19.5663 20.8433 19.4316 20.6968L16.7114 18.1499C15.7453 17.1561 14.9882 15.9787 14.4849 14.6873C13.9816 13.3959 13.7424 12.0167 13.7812 10.6313V4.59375H10.5V10.6313C10.4999 12.106 10.8549 13.5592 11.5348 14.8678C12.2148 16.1765 13.1998 17.3022 14.4067 18.1499L18.0331 20.6968C18.1193 20.7574 18.1897 20.8378 18.2383 20.9313C18.2869 21.0248 18.3123 21.1286 18.3123 21.234C18.3123 21.3393 18.2869 21.4432 18.2383 21.5366C18.1897 21.6301 18.1193 21.7106 18.0331 21.7711L14.4067 24.318C13.1998 25.1657 12.2148 26.2914 11.5348 27.6001C10.8549 28.9088 10.4999 30.3619 10.5 31.8367V37.4062H13.7812V31.8367C13.7424 30.4512 13.9816 29.072 14.4849 27.7806C14.9882 26.4892 15.7453 25.3118 16.7114 24.318V24.318Z" fill="#000064"/>
                          <path opacity="0.6" d="M29.5314 31.8367C29.5966 29.1334 28.6131 26.5098 26.7869 24.5155C24.9133 23.0258 23.6317 25.6193 24.2814 28.2188C24.9376 30.8438 24.8963 32.1562 24.8963 36.0938H29.5314V31.8367ZM25.5401 19.1435L26.6012 18.1499C27.5674 17.1561 28.3244 15.9787 28.8277 14.6873C29.331 13.3959 29.5703 12.0167 29.5314 10.6313V5.90625H24.2814V13.125C24.2814 15.0938 22.8613 21.2244 25.5401 19.1435Z" fill="white"/>
                          <path d="M32.8125 37.4062H9.1875C8.82506 37.4062 8.53125 37.7001 8.53125 38.0625V40.0312C8.53125 40.3937 8.82506 40.6875 9.1875 40.6875H32.8125C33.1749 40.6875 33.4688 40.3937 33.4688 40.0312V38.0625C33.4688 37.7001 33.1749 37.4062 32.8125 37.4062Z" stroke="#2E4369" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M32.8125 1.3125H9.1875C8.82506 1.3125 8.53125 1.60631 8.53125 1.96875V3.9375C8.53125 4.29994 8.82506 4.59375 9.1875 4.59375H32.8125C33.1749 4.59375 33.4688 4.29994 33.4688 3.9375V1.96875C33.4688 1.60631 33.1749 1.3125 32.8125 1.3125Z" stroke="#2E4369" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </div>
                        <p class="figure-dash">453 min.<p>
                      </div>
                      <div class="d-flex align-items-middle justify-content-between">
                        <svg width="24" height="24" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-analytics">
                        <path d="M14.5031 27.4969L7.0875 34.9125M21 1.3125V11.8125V1.3125ZM21 30.1875V40.6875V30.1875ZM40.6875 21H30.1875H40.6875ZM11.8125 21H1.3125H11.8125ZM7.0875 7.0875L14.5031 14.5031L7.0875 7.0875ZM27.4969 27.4969L34.9125 34.9125L27.4969 27.4969ZM34.9125 7.0875L27.4969 14.5031L34.9125 7.0875Z" stroke="#F59442" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21 30.1875C26.0741 30.1875 30.1875 26.0741 30.1875 21C30.1875 15.9259 26.0741 11.8125 21 11.8125C15.9259 11.8125 11.8125 15.9259 11.8125 21C11.8125 26.0741 15.9259 30.1875 21 30.1875Z" stroke="#F59442" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <p class="figure-dash">453</p>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            <% end %>
      </div>
      </div>
    </div>
    <div class="col-sm"></div>
  </div>
</div>

