
<h1>You're Home</h1>

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 ">
    <div class="image-create-meeting">
      <%= image_tag "celebration.png", class: "image-celebration"; %>
      <div><%= link_to "Create your next meeting", new_meeting_path, class: 'bouton-CTA'%>
      </div>
    </div>
    <div class="container-graph">
      <% @all_meetings = Meeting.all %>
      <% @all_users = User.all %>
      <% @future_meetings=[] %>
      <% @past_meetings= [] %>
      <% @all_meetings.each do |meeting| %>
        <% if meeting.start_time > Date.today %>
        <% @future_meetings << meeting %>
        <% else %>
        <% @past_meetings << meeting %>
        <% end %>
      <% end %>

      <div class="container-new-meeting">
        <p class= ""> Next meetings</p>
        <% if @future_meetings.nil? %>
         <div class="card-meeting-future">
          <img src="<%= @future_meetings[0].activity.photo %>" class="future-photos">
          <div class="card-meeting-infos-future">
            <div>
                <h2 class = " "><%= @future_meetings[0].name %></h2>
                <p> <strong> <%=@future_meetings[0].activity.name%></strong></p>
            </div>
            <div class="right">
              <h3 class="date-meeting" > <% @date_meeting = @future_meetings[0].start_time %>
                <%= DateFormat.change_to(@date_meeting, "LONG_DATE")  %>
              </h3>
              <p class="card-meeting-pricing-future"> <strong><%=@future_meetings[0].activity.duration %> min  saved</strong>
              </p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <!-- <div class="container-past-meeting"></div> -->
      <div class="card-history">
        <p class= "past"> Past meetings</p>

        <div class="card-meeting">
          <img src="<%= @past_meetings[0].activity.photo %>" class="past-photos">
          <div class="card-meeting-infos">
            <div>
              <h2><%= @past_meetings[0].name %></h2>
              <p> <strong> <%=@past_meetings[0].activity.name%></strong></p>
            </div>
            <div class="right">
              <h3 class="date-meeting-past" > <% @date_meeting = @past_meetings[0].start_time %>
                <%= DateFormat.change_to(@date_meeting, "LONG_DATE")  %>
              </h3>
              <p class="card-meeting-pricing"> <strong><%=@past_meetings[0].activity.duration %> min  saved</strong>
              </p>
            </div>
          </div>
        </div>

        <div class="card-meeting">
          <img src="<%= @past_meetings[1].activity.photo %>" class="past-photos">
          <div class="card-meeting-infos">
            <div>
              <h2><%= @past_meetings[1].name %></h2>
              <p> <strong> <%=@past_meetings[1].activity.name%></strong></p>
            </div>
            <div class="right">
              <h3 class="date-meeting-past" > <% @date_meeting = @past_meetings[1].start_time %>
                <%= DateFormat.change_to(@date_meeting, "LONG_DATE")  %>
              </h3>
              <p class="card-meeting-pricing"> <strong><%=@past_meetings[1].activity.duration %> min  saved</strong>
              </p>
            </div>
          </div>
        </div>

        <div class="card-meeting">
          <img src="<%= @past_meetings[2].activity.photo %>" class="past-photos">
          <div class="card-meeting-infos">
            <div>
              <h2><%= @past_meetings[2].name %></h2>
              <p> <strong> <%=@past_meetings[2].activity.name%></strong></p>
            </div>
            <div class="right">
              <h3 class="date-meeting-past" > <% @date_meeting = @past_meetings[2].start_time %>
                <%= DateFormat.change_to(@date_meeting, "LONG_DATE")  %>
              </h3>
              <p class="card-meeting-pricing"> <strong><%=@past_meetings[2].activity.duration %> min  saved</strong>
              </p>
            </div>
          </div>
        </div>

        <div class="card-meeting">
          <img src="<%= @past_meetings[3].activity.photo %>" class="past-photos">
          <div class="card-meeting-infos">
            <div>
              <h2><%= @past_meetings[3].name %></h2>
              <p> <strong> <%=@past_meetings[3].activity.name%></strong></p>
            </div>
            <div class="right">
              <h3 class="date-meeting-past" > <% @date_meeting = @past_meetings[3].start_time %>
                <%= DateFormat.change_to(@date_meeting, "LONG_DATE")  %>
              </h3>
              <p class="card-meeting-pricing"> <strong><%=@past_meetings[3].activity.duration %> min  saved</strong>
              </p>
            </div>
          </div>
        </div>

        <div class="card-meeting">
          <img src="<%= @past_meetings[4].activity.photo %>" class="past-photos">
          <div class="card-meeting-infos">
            <div>
              <h2><%= @past_meetings[4].name %></h2>
              <p> <strong> <%=@past_meetings[4].activity.name%></strong></p>
            </div>
            <div class="right">
              <h3 class="date-meeting-past" > <% @date_meeting = @past_meetings[4].start_time %>
                <%= DateFormat.change_to(@date_meeting, "LONG_DATE")  %>
              </h3>
              <p class="card-meeting-pricing"> <strong><%=@past_meetings[4].activity.duration %> min  saved</strong>
              </p>
            </div>
          </div>
        </div>

        <div class="card-meeting">
          <img src="<%= @past_meetings[5].activity.photo %>" class="past-photos">
          <div class="card-meeting-infos">
            <div>
              <h2><%= @past_meetings[5].name %></h2>
              <p> <strong> <%=@past_meetings[5].activity.name%></strong></p>
            </div>
            <div class="right">
              <h3 class="date-meeting-past" > <% @date_meeting = @past_meetings[5].start_time %>
                <%= DateFormat.change_to(@date_meeting, "LONG_DATE")  %>
              </h3>
              <p class="card-meeting-pricing"> <strong><%=@past_meetings[5].activity.duration %> min  saved</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="container-avatarlist">
      <div class="d-flex align-items-center justify-content-around card-users bg-white">
        <div class="d-flex flex-column align-items-center icon-name-dash">
            <div>
            <img src="<%= User.second.photo %> " alt="" class="avatar">
            <p class="avatar-name"><%= User.second.first_name%></p>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center icon-name-dash">
          <div>
          <img src="<%= User.third.photo %> " alt="" class="avatar">
          <p class="avatar-name"><%= User.third.first_name%></p>
          </div>
        </div>
        <div class="d-flex flex-column align-items-center icon-name-dash">
          <div>
          <img src="<%= User.fourth.photo %> " alt="" class="avatar">
          <p class="avatar-name"><%= User.fourth.first_name%></p>
          </div>
        </div>
        <div class="d-flex flex-column align-items-center icon-name-dash">
          <div>
          <img src="<%= User.first.photo %> " alt="" class="avatar">
          <p class="avatar-name"><%= User.first.first_name%></p>
          </div>
        </div>
        <div class="d-flex flex-column align-items-center icon-name-dash">
          <div class="d-flex flex-column align-items-center icon-name-dash">
            <img src="<%= User.first.photo %> " alt="" class="avatar">
            <p class="avatar-name"><%= User.first.first_name%></p>
          </div>
        </div>
    </div> -->


    </div>
  </main>


>>>>>>> master
