<div class="meeting-creation-carousel">
  <%= simple_form_for :meeting, url: meetings_path, method: "post" do |f| %>
    <div class="slider-meeting active-slide fade-in show">
      <div class="slider-form col-6">
        <h2>Please, name your meeting</h2>
        <p class="text-funnel mt-3 mb-3"><strong>Is it a recurring meeting ?</strong> You might want to specify it in the name.</p>
        <%= f.input :name, label: "Meeting name", input_html: {class: "sign-up-label"} %>
        <div class="slider-change">
          <div class="slider-btn next-btn">Next</div>
        <div class="slider-indicators-container">
          <div class="slider-indicators active">
          </div>
          <div class="slider-indicators">
          </div>
          <div class="slider-indicators">
          </div>
          <div class="slider-indicators">
          </div>
        </div>
        </div>
      </div>
      <div class="col-6 form-right-img-meeting">
        <%= image_tag('meeting1.png') %>
      </div>
    </div>
    <div class="slider-meeting fade-in">
      <div class="slider-form col-6">
        <h2>Please, give us team details</h2>
        <%= f.input :date, label: "When?", as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.input :duration, label: "Duration", as: :range, input_html: { step: 10, value: 30,  min: 10, max: 240, id: "text-input-meeting-slider" } %>
        <output class="agenda-duration" id="meeting-duration-slider"></output>
        <%= f.input :meeting_description, label: "Short description" %>
        <%= f.input :team, collection: @teams, label: "Which team should attend?" %>
        <div class="slider-change">
          <div class="slider-btn previous-btn">Previous</div>
          <div class="slider-btn next-btn">Next</div>
        </div>
        <div class="slider-indicators-container">
          <div class="slider-indicators">
          </div>
          <div class="slider-indicators active">
          </div>
          <div class="slider-indicators">
          </div>
          <div class="slider-indicators">
          </div>
        </div>
      </div>

      <div class="col-6 form-right-img-meeting">
        <%= image_tag('meeting2.png') %>
      </div>
    </div>
    <div class="slider-meeting fade-in">
      <div class="slider-form col-6">
        <h2>Please, detail the agenda</h2>
        <div class="agenda-bullets">
          <%= f.simple_fields_for @agenda do |a| %>
            <%= a.input :title, label: "Item title 1", input_html: { name:"meeting[agendas][0][title]" } %>
            <div class="agenda-bullet-section i-0 show">
              <%= a.input :description, label: "Item description", input_html: { name:"meeting[agendas][0][description]" } %>
              <%= a.input :duration, label: "Duration", as: :range, input_html: { name: "meeting[agendas][0][duration]" , step: 5, value: 15,  min: 5, max: 120, id: "text-input-agenda-slider-0" } %>
              <output class="agenda-duration" id="agenda-duration id-0"></output>
              <%= a.input :user, collection: @users, label_method: :his_name, label: "Collaborator in charge", input_html: { name:"meeting[agendas][0][user]" } %>
            </div>
          <% end %>
          <div class="unhide-bullet in-0 btn-agenda-unhide"><i class="fas fa-arrow-circle-up"></i></div>
        </div>
        <div class="add-agenda btn btn-info"><i class="fas fa-plus"></i> Add a bullet</div>
        <div class="slider-change">
          <div class="slider-btn previous-btn">Previous</div>
          <div class="slider-btn next-btn">Next</div>
        </div>
        <div class="slider-indicators-container">
          <div class="slider-indicators">
          </div>
          <div class="slider-indicators">
          </div>
          <div class="slider-indicators active">
          </div>
          <div class="slider-indicators">
          </div>
        </div>
      </div>

      <div class="col-6 form-right-img-meeting">
        <%= image_tag('meeting4.png') %>
      </div>
    </div>


    <div class="slider-meeting fade-in">
      <div class="slider-activity-picker">
        <h2>Please, pick an activity</h2>
        <div class="card-activity-wrapper">
          <label class="control-label radio_buttons optional hidden-slide">Activities</label>
          <input type="hidden" name="meeting[activity_ids][]" value="">
          <div id="card-activities-all">
            <div class="activity-intensiveness-card activity-low hide-activity">
              <div class="btn-arrow-left"><i class="fas fa-angle-left"></i></div>
              <%= render 'activities', activities: @activities[:low] %>
              <div class="btn-arrow-right"><i class="fas fa-angle-right"></i></div>
            </div>
            <div class="activity-intensiveness-card activity-medium active-activity">
              <div class="btn-arrow-left"><i class="fas fa-angle-left"></i></div>
              <%= render 'activities', activities: @activities[:medium] %>
              <div class="btn-arrow-right"><i class="fas fa-angle-right"></i></div>
            </div>
            <div class="activity-intensiveness-card activity-high hide-activity">
              <div class="btn-arrow-left"><i class="fas fa-angle-left"></i></div>
              <%= render 'activities', activities: @activities[:high] %>
              <div class="btn-arrow-right"><i class="fas fa-angle-right"></i></div>
            </div>
          </div>
        </div>

        <div class="activity-intensiveness-picker">
          <%= f.simple_fields_for(:activities) do |b| %>
            <%= b.input :intensiveness, label: "Intensiveness", as: :range, input_html: { step: 1, value: 2,  min: 1, max: 3, id: "intensiveness-pick-activity" } %>
            <output class="intensiveness-picker" id="activity-picker">Medium</output>
          <% end %>
        </div>

        <div class="slider-change">
          <div class="slider-btn previous-btn">Previous</div>
          <%= f.submit "Create a meeting", class: "btn btn-primary" %>
        </div>
        <div class="slider-indicators-container">
          <div class="slider-indicators">
          </div>
          <div class="slider-indicators">
          </div>
          <div class="slider-indicators">
          </div>
          <div class="slider-indicators active">
          </div>
        </div>

      </div>
    </div>
  <% end %>
</div>
