<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex justify-content-between">
  <div class="d-flex align-items-center justify-content-around">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
      <% end %>
    <div class="d-flex flex-column">
    <h2>Hife</h2>
    <p>Driving Innovative Company Cultures</p>
    </div>

  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto d-flex align-items-center">
      <li class="nav-item active">
        <%= link_to "Product", root_path, class: "bouton-text-nav"%>
      </li>

      <li class="nav-item active">
        <%= link_to "Pricing", root_path, class: "bouton-text-nav"%>
      </li>
      <li class="nav-item active">
        <%= link_to "Try it free", root_path, class: "bouton-red-nav"%>
      </li>
      <li class="nav-item active all">
        <%= link_to "Sign in", root_path, class: "bouton-white-nav"%>
      </li>
    </ul>
  </div>

</div>
